<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP -->
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'">
    <meta http-equiv="X-Content-Security-Policy" content="default-src 'self'; script-src 'self'">
    <title>Hello World!</title>
    <link rel='stylesheet' type='text/css' href="style.css">
</head>

<body>
    <header style="height:10%;">
        <h2>Welcome to Bindr</h2>
    </header>
    <div class='selection-grid'>
        <div id="notes" class="element">
            <span><h1>Notes</h1></span>
        </div>
        <div id="quizzes" class="element">
            <span><h1>Quizzes</h1></span>
        </div>
        <div id="resources" class="element">
            <span><h1>Resources</h1></span>
        </div>
    </div>

    

    <!-- You can also require other files to run in this process -->
    <script src="./renderer.js"></script>
</body>

</html>